html,
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-size: cover;
    flex-direction: column;
    background-color: white;
    font-family: 'Outfit', 'Carter One', Arial, Helvetica, sans-serif !important;
}

main {
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
}

main #hangmanContainer {
    width: 80%;
    margin: auto;
    padding: 20px;
    gap: 30px;
    background: rgba(255, 255, 255, .85);
}

footer {
    background-color: black;
}

#hangmanImage {
    width: 200px;
}

#wordToGuess {
    height: 3em;
}

#wordToGuess span {
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
}

#letters {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    width: 500px;
    justify-content: center;
}

#letters button {
    width: 38px;
    padding: 16px 0;
}



.brand-img {
    width: 40px;
    height: 40px;
}


.bg-custom {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 9, 65, 0.6671043417366946) 4%, rgba(0, 0, 0, 1) 100%);
}

.opacity-95 {
    opacity: 95%;
}

.bg-dark-custom {
    background-color: black;
}

.navbar-nav .nav-link {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #EE5007;
}

.hangman-section {
    /* background-image: url('../img/nainoa-shizuru-unsplash-blur.jpg'); */
    background-color: #282828;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    align-items: center;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25px;
    height: 25px;
    box-shadow: none;
    border: 0;
    color: rgba(111, 111, 111, 0.904)
}

.btn.btn-icon:hover {
    color: #EE5007;
}

.btn i {
    display: inline-flex;
    vertical-align: middle;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none !important;
}

.menu-item {
    display: block;
    padding: 0;
}

.menu-item .menu-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    flex: 0 0 100%;
    padding: 0.65rem 1rem;
    transition: none;
    outline: 0 !important;
}

footer a {
    color: white;
    text-decoration: none;
}

.text-muted-custom {
    opacity: 1;
    color: rgba(126, 78, 54, 0.75)
}

footer a:hover {
    color: #EE5007 !important;
}

.cardClue {
    width: 26rem;
    max-width: 36rem;
}

#configModalLabel{
    color: #EE5007;
}

#clue:hover{
 background-color: #ffc107;
 border-color: #ffc107;
}

#configGame{
    float: right;
}

.test{
    display: inline-flex;
}