@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-color: white;
    font-family: 'Outfit', 'Carter One', Arial, Helvetica, sans-serif !important;
}

main {
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-color: black;
}

main #hangmanContainer {
    width: 95%;
    margin: auto;
    padding: 20px;
    gap: 30px;
    /* background: rgba(255, 255, 255, .85); */
    background: rgba(43, 43, 43, 0.85);
}

footer {
    background-color: black;
    margin-top: auto;
}

#hangmanImage {
    width: 200px;
}

#wordToGuess {
    height: 3.5em;
    line-height: 3.5em;
}

#wordToGuess span {
    vertical-align: bottom;
    font-size: 3em;
    border-bottom: 4px solid black;
    width: 42px;
    text-align: center;
    margin-right: 12px;
    display: inline-block;
    line-height: 1em;
}

#letters {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 500px;
    justify-content: center;
}

#hangmanModalWinner {
    margin-top: 3.5rem !important;
}

#letters button {
    width: 38px;
    padding: 16px 0;
}

#letters span {
    width: 38px;
    padding: 16px 0;
}

.brand-img {
    width: 80px;
    height: 60px;
}


.bg-custom {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 9, 65, 0.6671043417366946) 4%, rgba(0, 0, 0, 1) 100%);
}

.opacity-95 {
    opacity: 95%;
}

.bg-dark-custom {
    background-color: black;
}

.navbar-nav .nav-link {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #EE5007;
}

.pista {
    width: 85%;
}

.height-100px {
    height: 100px;
}

.title-game {
    font-size: 100px !important;
    letter-spacing: -.06em;
    gap: 70px;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-game span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle, var(--start-color) var(--start-color-percentage), var(--end-color) var(--end-color-percentage));
    position: relative;
    z-index: 1;
    padding: 0 12px 12px 0;
}

.title-game span::before {
    content: var(--content);
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    animation: 4s var(--animation) infinite;
    padding: 0 12px 12px 0;

}

#wordClueText {
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

#hangmanModalClueWordLabel {
    color: white;
}

@keyframes a {

    0%,
    16.667%,
    to {
        opacity: 0
    }

    25%,
    91.667% {
        opacity: 1
    }
}

@keyframes a2 {

    0%,
    to {
        opacity: 1
    }

    33.333%,
    50% {
        opacity: 0
    }

    25%,
    58.333% {
        opacity: 1
    }
}

@keyframes a3 {

    0%,
    58.333%,
    91.667%,
    to {
        opacity: 1
    }

    66.667%,
    83.333% {
        opacity: 0
    }
}

#flashWin {
    --bs-btn-color: #fff;
    --bs-btn-bg: #efb810;
    --bs-btn-border-color: #efb810;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dda90d;
    --bs-btn-hover-border-color: #f2c22d;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f2c22d;
    --bs-btn-active-border-color: #f2c22d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #efb810;
    --bs-btn-disabled-border-color: #efb810;
}

.hangman-section {
    background-image: url('../img/casinoTiuna.png');
    background-color: #282828;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position: 50% 50%;
    align-items: center;
    padding: 0;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 0;
}

.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25px;
    height: 25px;
    box-shadow: none;
    border: 0;
    color: rgba(255, 255, 255, 0.904)
}

.btn.btn-icon:hover {
    color: #EE5007;
}

.btn i {
    display: inline-flex;
    vertical-align: middle;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none !important;
}

.menu-item {
    display: block;
    padding: 0;
}

.menu-item .menu-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    flex: 0 0 100%;
    padding: 0.65rem 1rem;
    transition: none;
    outline: 0 !important;
}

.text-muted-custom {
    opacity: 1;
    color: rgba(126, 78, 54, 0.75)
}

footer a {
    color: white;
    text-decoration: none;
}


footer a:hover {
    color: #EE5007 !important;
}


#configModalLabel {
    color: #EE5007;
}

.cardClue {
    width: 26rem;
    max-width: 36rem;
}

#clue {
    transition: background-color 0.25s linear 0.15s;
    border-color: transparent;
}

#clue:hover {
    background-color: #be011f;
    border-color: transparent;
}

#configGame {
    float: right;
}

.container-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.clock {
    font-size: 32px;
    text-shadow: -1px 0px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: baseline;
}

.numberClock {
    display: inline-block;
    width: 70px;
    font-size: 64px;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-shadow: -1px, 0px, 15px, rgba(37, 27, 27, 0.25);
    border: none;
    color: lightslategrey;
    background-color: transparent;
    margin-right: 6px;
}
.gradient-Radial-Red {
    background-color: #f3ec78;
    background-image: linear-gradient(to right, #ece9e6, #ffffff);
}
.gradient-text {
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.btn-dark-alternative{
    --bs-btn-font-weight: 600;
    --bs-btn-color: white !important; 
    --bs-btn-bg: #181a1c !important;
    --bs-btn-border-color: #181a1c !important;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #2d3033;
    --bs-btn-hover-border-color: #2d3033;
    --bs-btn-focus-shadow-rgb: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-active-color:white;
    --bs-btn-active-bg: #383b3f;
    --bs-btn-active-border-color: #383b3f;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2f363c;
    --bs-btn-disabled-border-color: #212529;
}